/* CSS GLOBAl */
/* la forma por la que escribo asi los mediaquery porque se me facilita poder darle mantenimiento al código css
ya que donde tengo el elemento a que le voy a aplicar el css en esa misma posición encuentro 
el media query, no tengo necesida de estar revisando todo el archivo para poder encontrar ese 
mediaquery */
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}

.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
h1{
    font-size: 2rem;
    text-align: center;
}
@media(min-width:768px){
    h1{
        font-size: 5rem;
    }
}
img{
    display: block;
    width: 100%;
}
/* Código de la galeria*/

.galeria{
    margin-top: 10rem;
}
.galeria__heading{
    margin-bottom: 2rem;
}
/* separando los div de las imagenes */

.galeria__imagen{
    margin-bottom: 2rem;
}
@media(min-width:768px){
    .galeria__imagen{
        margin-bottom: 0;
    }

}
/* dando el mismo tamaño a las imagenes */

.galeria__img{
    height: 20rem;
    width: 100%;
    object-fit: cover;
    transition-property: transform;
    transition-duration: .8s;/* duracion para efectuar la animacion del hover */
  
}
.galeria__img:hover{
    transform: scale(1.1);
}
/* grid para tablet */
@media(min-width:768px){
    .galeria__grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);

        gap: 2rem;/* separación */
    }
}
/* grid para desktop */
@media(min-width:1280px){
    .galeria__grid{
        grid-template-columns: repeat(3,1fr);
    }
}

